<h2>Edit waypoint</h2>

<%= render "form.html", changeset: @changeset,
                        action: waypoint_path(@conn, :update, @waypoint) %>

<%= link "Back", to: waypoint_path(@conn, :index) %>
